name: Publish Manuals
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Asciidoctor
        run: sudo apt-get update && sudo apt-get install -y asciidoctor

      - name: Build Documentation
        run: |
          mkdir -p build
          asciidoctor -D build prueba1-publish/docs/*.adoc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
